<!doctype html>
<html lang="en">
  {% include "partial/head.html.twig" %}
  <body>
    {% include "partial/navigation.html.twig" %}
    <div class="container">
      <h1>{{ greeting }}</h1>
      <p>{{ books.total }} books found</p>
      <div class="row">
        {% for book in books.items %}
          <div class="col-md-4">
            <div class="card" >
              <img src="book_images/{{ book.picture }}" class="card-img-top book-image" alt="book cover for {{book.book_title}}">
              <div class="card-body">
                <h5 class="card-title">{{ book.book_title }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="detail.php?id={{book.book_id}}" class="btn btn-primary">View Detail</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
   {% include "partial/footer.html.twig" %}
   {% include "partial/script.html.twig" %}
  </body>
</html>
